{% extends "layout.html" %}

{% block content %}
   <div class="jumbotron">
  <h1 class="display-4">Olimpiada.com</h1>
  <p class="lead">Этот сайт поможет тебе подготовиться к олимпиаде по математике, русскому языку, химии, ...</p>
  <hr class="my-4">
  <p>Ты можешь искать олимпиады по нужному тебе предмету, а также сам выкладывать их на сайт. Всё что тебе нужно по подготовке к олимпиаде ты найдёшь здесь. </p>
    <p>Войди в свой аккаунт или зарегистрируся.</p>
  <a class="btn btn-primary btn-lg" href="/register" role="button">Зарегистрироваться</a>
</div>
{% endblock %}