<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Oimpiada.com</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" href="/home">Olimpiada.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if session.log %}
        <li class="nav-item ">
        <a class="nav-link" href="/olimp">Олимпиады</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Выход</a>
      </li>

        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="/register">Регистрация</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Вход</a>
      </li>
{%endif%}
    </ul>
  </div>
</nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        {% include "_message.html" %}
        {% block content %}{% endblock %}
    </main>
  </body>
</html>