{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Вход</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Почта" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Пароль" required>
        </div>
        <button class="btn btn-primary" type="submit">Войти</button>

    </form>
</div>
{% endblock %}