{% extends "layout.html" %}

{% block content %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="nav-link" href="/matem"><button type="button" class="btn btn-success">Математика</button></a>
        <a class="nav-link" href="/infa"> <button type="button" class="btn btn-primary">Информатика</button></a>
        <a class="nav-link" href="/fiz"><button type="button" class="btn btn-secondary">Физика</button></a>
        <a class="nav-link" href="/rus"><button type="button" class="btn btn-danger">Русский язык</button></a>
        <a class="nav-link" href="/him"><button type="button" class="btn btn-warning">Химия</button></a>
        <a class="nav-link" href="/bio"><button type="button" class="btn btn-dark">Биология</button></a>
</div>

{% endblock %}