{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Регистрация</h1>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Имя" required>
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Почта" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Пароль" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirm" class="form-control" placeholder="Повтрорите пароль" required>
        </div>
        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>

    </form>
</div>
{% endblock %}